성별예측
y_train : 고객 성별(0:여자, 1:남자)
X_train, X_test : 고객 상품구매 속성

In [123]:
import pandas as pd
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/y_train.csv')
X_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/X_train.csv', encoding='euc-kr')
X_test  = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/X_test.csv', encoding='euc-kr')

In [124]:
print(y_train.shape)
print(X_train.shape)
print(X_test.shape)

(3500, 2)
(3500, 10)
(2482, 10)

In [126]:
# X_train과 X_train 합치기
trainDF = pd.merge(y_train, X_train)
trainDF.head()
X_test.head()
cust_id = X_test.cust_id

In [127]:
# 결츨치처리 
trainNAN = trainDF.isnull().sum()
testNAN = X_test.isnull().sum()
# 환불금액 결측치 0으로 채우기
trainDF['환불금액'] = trainDF['환불금액'].fillna(0)
X_test['환불금액'] = X_test['환불금액'].fillna(0)
trainDF.head()

,cust_id,gender,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,0,0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17
1,1,0,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1
2,2,1,3197000,1639000,0.0,남성 캐주얼,관악점,2,2.000000,0.000000,1
3,3,1,16077620,4935000,0.0,기타,광주점,18,2.444444,0.318182,16
4,4,0,29050000,24000000,0.0,보석,본 점,2,1.500000,0.000000,85

In [14]:
#print(len(trainDF['주구매상품'].value_counts().index))

42

In [140]:
# X, y 나누기 
X_train = trainDF.drop(['cust_id','gender'], axis=1)# 해당열 삭제
y_train = trainDF['gender']

In [142]:
# labelencoder_train
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
trainDF.loc[:,['주구매상품','주구매지점']]=trainDF.loc[:,['주구매상품','주구매지점']].apply(le.fit_transform)
X_train

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,68282840,11264000,6860000.0,5,0,19,3.894737,0.527027,17
1,2136000,2136000,300000.0,21,19,2,1.500000,0.000000,1
2,3197000,1639000,0.0,6,1,2,2.000000,0.000000,1
3,16077620,4935000,0.0,5,2,18,2.444444,0.318182,16
4,29050000,24000000,0.0,15,8,2,1.500000,0.000000,85
...,...,...,...,...,...,...,...,...,...
3495,3175200,3042900,0.0,3,8,1,2.000000,1.000000,0
3496,29628600,7200000,6049600.0,22,9,8,1.625000,0.461538,40
3497,75000,75000,0.0,32,21,1,1.000000,0.000000,0
3498,1875000,1000000,0.0,41,8,2,1.000000,0.000000,39
3499,263101550,34632000,5973000.0,5,8,38,2.421053,0.467391,8

In [143]:
# LabelEncoder _X_test
#X_test = X_test.drop(['cust_id'],axis=1)
X_test.loc[:,['주구매상품', '주구매지점']] = X_test.loc[:,['주구매상품', '주구매지점']].apply(le.fit_transform)
X_test.head(3)

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,70900400,22000000,4050000.0,3,9,13,1.461538,0.789474,26
1,310533100,38558000,48034700.0,9,19,90,2.433333,0.369863,3
2,305264140,14825000,30521000.0,0,8,101,14.623762,0.083277,3

In [134]:
y_train = y.loc[:,'gender']
X_train = X

In [144]:
# 정규화
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_scaled_train=scaler.transform(X_train)
X_scaled_test=scaler.transform(X_test)

In [145]:
# 모델적용
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_scaled_train, y_train)
pred_train = model.predict(X_scaled_train)
model.score(X_scaled_train, y_train)

0.9994285714285714